
.thumbnail{
    width: 100%;
}


.video-title{
    margin-top: 0;
    font-size: 14px ;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

/* .channel-picture{
    display: inline-block;
    width: 50px;
    vertical-align: top;
    background-color: gray;
} */
/* .video-info{
    display: inline-block;
    width: 200px;
    background-color: gray;
} */
.profile-picture{
    /* width: 100%; if i put width to 100% means i occupies the space available in the channel picture  */
    width: 36px;
    border-radius: 50px;
}
.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
    cursor: pointer;
}
.video-author,.video-stats{
    font-size: 12px;
    color: rgb(96, 96, 96);
}
.video-author{
    margin-bottom: 4px;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.video-time{
    background-color: black;
    color: white;
    bottom: 8px;
    right: 5px;
    position: absolute;
    font-family: Roboto , Arial;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
}






